html,
body{
   margin: 0;
   padding: 0;
   font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(22, 8, 44);
  color: azure;
}

.cards-wrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

img{
 width: 100%;
 
}
.buton{
    background-color: darkkhaki;
   
    width: 25%;
    display: flex;
    justify-content: center;
    align-content: center;
    
}


.btn{
    background-color: darkcyan;
    padding: 12px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    border: none;
     margin: 8px auto;
     font-weight: bold;
     font-size: 16px;
}
.btn:hover{
    background-color: darkkhaki;
}

.card{
    border-radius: 15px;
    width: 90%;
    text-align: center;
    background-color: rgb(114, 52, 102);
    margin:0;
    cursor: pointer;
}


/* ========================NAVBAR=================================== */
.navbar{
    position: relative;
    z-index: 200;
}
.left-img{
    width: 35%;
    position: absolute;

}
.left-img-1{
  top: 15%;
  left:15%;
  box-shadow: 0 15px 60px rgba(3, 3, 3, 0.596);
  opacity: .7;
  border-radius: 10px;
}
.left-img-2{
  top: 35%;
  left:25%;
  box-shadow: 0 15px 60px rgba(3, 3, 3, 0.596);
  opacity: .7;
  border-radius: 10px;
}
.left-img-3{
  top: 55%;
  left:35%;
  box-shadow: 0 15px 60px rgba(3, 3, 3, 0.596);
  opacity: .7;
  border-radius: 10px;
}
.navbar-navigation{
    display: flex;
}
.navbar-navigation-left{
    width: 50vw;
    height: 100vh;
    background-color: rgb(94, 51, 65);
    position: fixed;
    left: -50vw;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-right{
    width: 50vw;
    height: 100vh;
    background-color: #1f1d1d;
    position: fixed;
    right: -50vw;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}
.nav-list{

}
.nav-list-item{
  list-style: none;

}
.nav-list-link{
  font-size: 50px;
  color: #be7ca2;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
}
.nav-list-link:hover{
  color: #b4a068;
  letter-spacing: 4px;
}
/* --------------------HAMBUERGUER--------------------------------- */
.hamburger-menu{
  width: 40px;
  height: 40px;
  position: fixed;
  top:10%;
  right: 5%;
  z-index: 300;
  
}
.fullSpace{
  width: 100%;
    height: 100%;
}
.menu{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform .5s;
 
}
.menu-line{
  width: 100%;
  height: 5px;
  background-color: khaki;
  transform-origin: right;
  transition: all .5s .5s;
}

.checkbox:checked ~.navbar-navigation .navbar-navigation-left{
  left: 0;
}
.checkbox:checked ~.navbar-navigation .navbar-navigation-right{
  right: 0;
}
.checkbox:checked ~.hamburger-menu .menu{
  transform: rotateZ(90deg);
}
.checkbox:checked ~.hamburger-menu .menu-line-1{
  transform: rotateZ(-40deg);
}
.checkbox:checked ~.hamburger-menu .menu-line-2{
  opacity: 0;
}
.checkbox:checked ~.hamburger-menu .menu-line-3{
  transform: rotateZ(40deg);
}
 
/*--------------------------------------------------------------- */

@media (max-width: 768px){
  .cards-wrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
}
@media (max-width: 579px){
  .cards-wrapper{
    margin-top: 10px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}
}